/ao486_tool/build/
sd.dat

# ignore backup files
*~

# ignore vi swapfiles
.*.swp

# ignore compiled python
*pyc

# ignore some backup files
*.bak

# ignore some c files
*.o
*.d

# ignore directories
output_files
db
incremental_db

build_id.v
c5_pin_model_dump.txt
*.sopcinfo
PLLJ_PLLSPE_INFO.txt
*.qws
.qsys_edit
vip
system
*_sim
*.bsf
*.cmp
*.sip
*.spd
*.xml
*.f
*.ppf
*.stp
new_rtl_netlist
old_rtl_netlist
.metadata
RemoteSystemsTempFiles
exe.*
*.a
